main{
    text-align: center;
    /* margin: 50px;  */

}

footer{
    display: flex;
    justify-content: end;
    font-size: 1.5em;
    margin-top: 13%;
}

















































